@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500&display=swap");

.ff_poppins {
  font-family: "Poppins", sans-serif;
}

.ff_libre {
  font-family: "Libre Caslon Text", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
.calc_h {
  height: calc(100vh - 96px) !important;
}
input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #88c701;
}
