@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500&display=swap");

.ff_poppins {
  font-family: "Poppins", sans-serif;
}

.ff_libre {
  font-family: "Libre Caslon Text", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
